.rightcontent{width:100%;height:100%;overflow:auto;zoom:1; white-space:nowrap;}
.table1{border:0px; min-width:100%!important;}
.table1 td,.table1 th{height:22px;line-height:22px;border:none; border-bottom:1px solid #E3E6EB; text-align:left;padding-left:2px; padding-right:2px;}
.table1 td a{color:blue;text-decoration:none;}
.table1 td a:hover{color:#F60;text-decoration:underline;}
.table1 th{ height:22px; overflow:hidden; white-space:pre;}/*not worked for ie*/
.table1 .selected{ color:#fff; background-color:#528bcb!important;}
.table1 tr:hover{background-color:#f3f3f3;}
 .multiselected{background-color:#ffc!important;}
 
 #divdetail{min-width:180px; border:1px dashed gray; padding:5px; background-color:#ffc; position:absolute; top:0; left:0; display:none; color:Gray;}
 #divdetail b{color:green; font-weight:400;}
 
 .fixheader{height:22px;border-top:solid 1px #FFF;}
.fixheader th{height:22px;line-height:22px;color:#1E5494;font-weight:100;text-align:left;background-color:#F2F4F6;border:none;}
.divpager{width:100%;height:24px;line-height:24px;background-color:#F2F4F6;border-top:solid 1px #C4CACD;color:#666;}
.divpager a{margin-right:5px;color:#333;text-decoration:none;}
.divpager a:hover{text-decoration:underline;}
.divpager .righttext{text-align:right;}
.divpager .pager{ padding-right:10px;}
.divpager .pager .curpage{font-weight:600; color:Red;}

.cellTextArea{position:relative; height:18px; vertical-align:top;overflow:visible;}

.txtoverflow{display:inline-block; overflow:hidden; text-overflow:ellipsis;}
