html,body{overflow:hidden; width:100%; height:100%; padding:0; margin:0;}
body{ position:relative;}
ul,li,h2,span,iframe,td,th,tbody {margin:0px;padding:0px; list-style:none;}
#top{width:100%;height:67px;position:relative;background:url(../images/logo.gif) no-repeat;}
#mian{width:900px;height:100%;margin:0 auto;}
a{text-decoration:none; outline:none;}
img{border:none;}
div{zoom:1;}
.top_cli{/*width:463px;height:67px;position:absolute;right:0px;top:0px;z-index:100;*/height:100%; background:url(../images/top_bg03.gif) right 0 no-repeat;}
/*.left_1{width:184px;height:12px;background:url(../images/bg_05.gif);}
.left_2{width:184px;height:100%;background:url(../images/bg_02.gif);position:relative;}*/
.left_3{width:184px;height:12px;line-height:12px;font-size:0px;overflow:hidden;background:url(../images/hos_bg4.gif);}
.left_4{width:184px;min-height:250px;_height:250px;background:url(../images/hos_bg2.gif);float:left;overflow-x:hidden; overflow-y:auto;}
.left_5{width:184px;height:105px;background:url(../images/hos_bg3.gif);float:left;}
.left_6{width:180px;height:100%;background:url(../images/hos_bg5.gif);float:left;}

#left{width:184px;height:100%;margin-left:10px;/*position:relative;*/overflow:hidden;}
#left .im{width:184px;height:11px;line-height:11px;font-size:0px;overflow:hidden;background:url(../images/hos_bg1.gif);}

.a{background:url(../images/hos_bg2.gif);}

#right{width:100%;height:100%;background-color:Green;}
.right_1{width:100%;height:11px;line-height:11px;background:url(../images/hos_bg6.gif);overflow:hidden;font-size:0px;}


/*quick access*/
.tree2{font-size:12px;width:auto;margin-left:40px;}
.tree2 li{list-style:none;width:auto;margin-left:12px;height:30px;line-height:30px;}
.tree2{font-size:14px;color:#1E5494;}
.tree2 a{color:#1E5494;font-weight:bold;}
.tree2 a:hover{color:#F60;}

/*tree*/
.tree{font-size:12px;width:180px;margin-top:20px;height:250px;}
.tree .lh{font-weight:bold;font-size:13px;}
.tree li{list-style:none;width:155px;margin-left:12px;line-height:24px;margin-top:1px;}
.tree img{border:0;margin-right:5px;line-height:24px;}
.tree a{color:#1E5494;height:24px;line-height:24px;padding-left:10px;text-decoration:none;display:block;}
.tree a:hover,.tree .pmenu>a:first-child:hover{background-color:#E1EFFD;color:#1E5494;}
.tree .curli{background-color:#528bcb;}
.tree .curli a{color:#fff;}
.tree .grayli{background-color:#838383!important;}
.tree a:hover, .tree .pmenu > a:first-child:hover {background-color: #E1EFFD;color: #1E5494;}
.tree2 .curli{color:#f60;}
/*parent menu*/
.tree .pmenu>a:first-child{ padding-left:22px; background:#fff url(../images/right.gif) no-repeat 10px 8px;}
.tree .pmenu ul{ display:none;}
.tree li.pmenu ul li{width:142px;}
.tree li.pmenu ul li a{width:132px;}
.tree li.pmenu ul li.pmenu ul li{width:132px;}
.tree li.pmenu ul li.pmenu a{width:122px;}

/*float div style*/
.floatdiv{ position:fixed; _position:absolute; display:none; background:white;}
#float_bg{ width:100%; height:100%; opacity:0.7; filter:alpha(opacity=70); top:0; left:0;}
#float_cont{border:5px solid #ccc; height:100px; width:600px; text-align:center; left:50%; top:40%; margin-left:-300px; border-radius:7px; -moz-border-radius:7px; z-index:9999;}

/*top navi*/
#topnavi{position:absolute; left:230px; top:10px; }
#opArea{ font-size:12px;}
#themepanel span{display:inline-block; width:30px; height:12px; border-radius:5px; -moz-border-radius:5px; margin-right:5px;}
#theme-gray{background:#afafaf;}
#theme-blue{background:#8ab6e9;}

/*ie6*/
.tree .pmenu a{ _padding-left:expression(this.parentNode.attributes['class'].value=='pmenu'?'20px':''); _background:url(../images/right.gif) no-repeat 10px 8px;}
.tree .pmenu a{ _background-image:expression(this.parentNode.attributes['class'].value=='pmenu'?'':'none');}

/*alert*/
#alertdiv{position: absolute; bottom: -35px; margin-left: -150px; left: 50%;background:url(../images/warn.png) 0 3px no-repeat; width:360px;padding-left:18px;display:none; height:16px; line-height:16px; padding-bottom:10px;z-index:1;}
.xspan{background:url("../images/icon.png") no-repeat scroll -817px -717px transparent; display:inline-block; height:16px; width:16px; cursor:pointer;}

/*topnavi fix*/
#topmenu{position:absolute; bottom:0;left:230px;display:none;z-index:10;}