*{margin:0; padding:0;}
html,body {width:100%; height:100%;background-color:#fff!important;}
body{ font-size:12px; position:relative;}
div{zoom:1;}
li{ list-style:none;}
table{border-collapse:collapse;}
a{ outline:none;}
body{background:url(../images/bg.gif) no-repeat right bottom;}
.btn1{height:20px;line-height:20px;width:auto; padding:0 5px; border:none;border:solid 1px #2A538C;background:url('../images/btn_bg1.gif');color:#000;display:inline-block;text-align:center;text-decoration:none;  border-radius:3px; -moz-border-radius:3px; outline:none; margin:auto 3px;}
.btn1:hover{color:#F60;border:solid 1px #F60;}
input.btn1{height:22px;}
.tinput{ border:1px solid #ccc; height:18px;}
.shortTxt{ width:120px!important;}
.titleSpan{ width:60px; display:inline-block; text-align:right;}
select, input,textarea{background-color:#fff!important;}

#container{width:100%;height:100%;overflow:hidden; min-width:800px;}
.div_top{overflow:hidden;}
.nav{height:24px;line-height:24px;background-color:#FFF;}
.toolbar{width:100%;height:30px;background-color:#CCE3FC;overflow:hidden; margin-bottom:1px;}
.themegray{background-color:#ccc!important;}
.tab1{height:27px;margin-top:3px;margin-left:10px;}
.tab1 tr{height:27px;}
.tab1 td{height:27px;}
.tab1 .td2{width:40px;text-align:center;}
.select * {margin: 0;padding: 0;}
.select {border:1px solid #2A538C;float: left;display: inline;}
.select:hover{border:1px solid #F60;}
.select div {border:1px solid #f9f9f9;float: left;width:120px;}
.select>div {width:120px;height: 17px;overflow:hidden;}
* html .select div select {display:block;float: left;margin: -2px;width:124px;}
.select div>select {display:block;height:20px;width:124px;float:none;margin: -2px;padding: 0px;}
.select:hover {border:1px solid #666666;}
.select select>option {text-indent: 2px;}

.tgray{color:Gray;}
.tred{color:Red}
.tblue{color:Blue;}
.tyellow{color:Yellow;}
.tgreen{color:Green;}
.right{text-align:right;}
.fright{float:right;}
.byellow{background:#ffc;}

.icona{ text-decoration:none; color:blue;}
.icona:hover{ color:Red;}
.icona img{ vertical-align:middle; width:16px; height:16px; border:none;}

.hide{ display: none;}
